# === Database ===
# Variables for redis DB
REDIS_HOST=redis
REDIS_PORT=6379

# === Elasticsearch ===
# ES_HOSTS массив хостов для работы ETL
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

# === API ===
API_DOMAIN=fastapi
API_PORT=8000

# === Versions ===
ES_VERSION=7.10.2
REDIS_VERSION=6.2.6
